@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html { 
  height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, var(--primary-color) 50%, var(--secondary-color) 50%);

}

:root {
  --primary-color: #333333;
  --secondary-color: #ffffff;
  --check-color: #29ABE2;
}

